body {
  display: block;
  font-size: 14px;


  @media screen and (min-width: $medium) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

  }


  @media screen and (min-width: $small) {
    #menu {
      display: none;
    }
  }

  .row {
    max-width: 1000px;
  }

  .content {
    display: block;
    background: white;
    padding-top: $header_height;

    @media screen and (min-width: $medium) {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: $header_height;
      padding-top: 0;
    }

    &.content-new {
      left: 100vw;
      right: -100vw;
    }

    &.content-old {
      //left: -100vw;
      //right: 100vw;
    }

    .hidentitle {
      display: none;
    }

    h1 {
      margin: $margin_h1 0;
      background: #0156A1;
      text-transform: uppercase;
      padding: calc(#{$height_h1} / 3) 0 calc(#{$height_h1} / 3) calc(#{$height_h1} / 3);
      color: white;
      font-size: 1em;
      font-weight: bold;

      @media screen and (min-width: $small) {
        width: 500px;
        display: inline-block;
        line-height: $height_h1;
        max-width: calc(100% - 2 * #{$margin_h1});
        height: $height_h1;
        padding: 0;
        padding-left: 25px;
      }
    }

    .img_container {
      position: relative;

      img {
        width: 100%;
      }

      a {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px 10px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-top-left-radius: 10px;
      }
    }
  }
}