.admin_listing {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 5px;

  th, td {
    padding: 0.5em;
    height: 50px;
    background: $white;
  }

  .admin_listing_header {
    .admin_listing_header_item {
      border-bottom: 1px solid $lightgrey;
      background: $white;

      &.action {
        color: $black;
        border-bottom: 1px solid $red;
        width: calc((2 * 0.5em) + (4 * 30px));
        text-align: center;
      }
    }
  }

  .admin_listing_body {
    tr {
      background: $white;

      .admin_listing_body_item {
        background: $white;
        border-bottom: 1px solid $lightgrey;

        &.action {
          border-bottom: 1px solid $darkblue;
          text-align: center;
          color: $black;

          span {
            width: 25px;
            text-align: center;
            display: inline-block;

            &.edit {
            }

            &.see {
            }

            &.delete {
              color: $red;
            }
          }
        }
      }

      &.homepage {
        .admin_listing_body_item:first-child {
          padding-left: calc(50px + 0.5em);
          position: relative;

          &:before {
            position: absolute;
            text-align: center;
            left: 0;
            width: 50px;
            top: 0;
            bottom: 0;
            content: "\f015";
            border-bottom: 1px solid $darkblue;
            font-family: FontAwesome;
            font-size: 1.5em;
            padding-top: 5px;
            color: $darkblue;
          }
        }
      }
    }
  }
}