body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover:not(.button) {
    color: inherit;
    text-decoration: underline;
  }
}

h1 {
  position: relative;
  padding-left: 16px;
  margin-left: 3px;
  margin-bottom: 40px;
  color: $black;

  &:before, &:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px;

  }

  &:before {
    top: -3px;
    width: 3px;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from($red), to(transparent));
    background-image: -webkit-linear-gradient(transparent, $red);
    background-image: -moz-linear-gradient(transparent, $red);
    background-image: -o-linear-gradient(transparent, $red);
  }

  &:after {
    right: -3px;
    height: 3px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($red), to(transparent));
    background-image: -webkit-linear-gradient(left, $red, transparent);
    background-image: -moz-linear-gradient(left, $red, transparent);
    background-image: -o-linear-gradient(left, $red, transparent);
  }
}