body {
  //overflow: hidden;

  //padding-top: $h_classic;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover:not(.btn) {
    color: inherit;
    text-decoration: underline;
  }
}

h1 {
  position: relative;
  padding-left: 16px;
  margin-left: 3px;
  margin-bottom: 40px;
  color: $black;
}

.center-vertically {

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }

  &>* {
    display: inline-block;
    vertical-align: middle;
  }

  &.height:before {
    height: 100%;
  }
}

ul {
  padding: 0;
}

.btn {
  border-radius: 0;
  transition: background 0.2s linear;
}