.content {
  display: inline-block;
  width: calc(100vw - 200px);
  margin-top: 50px;
  overflow-y: scroll;
  height: calc(100vh - 50px);
  background-color: $darkblue;

  float: right;

  button.button {
    position: fixed;
    top: 5px;
    right: 110px;
  }
}