.content {
  display: inline-block;
  overflow-y: scroll;
  background-color: $white;
  transition: left 0.2s linear;
  position: absolute;
  left: 50px;
  right: 0;
  top: 0;
  bottom: 0;

  .container {
    width: 100% !important;
  }

  .add_item, .save {
    position: fixed;
    top: 5px;
    right: 131px;

    .btn {
      height: 40px;
      border-radius: 0;
      line-height: 1.9em;
    }
  }
}

.leftbar_active .content {
  left: 200px;
}