.button {
  background: $yellow;
  color: $darkblue;

  &:focus, &:active, &:hover {
    background: $lightblue;
    color: $darkerblue;
  }
}

label {
  color: $black;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}