.header {
  background-color: $darkblue;
  color: white;
  height: $h_classic;
  line-height: $h_classic;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;

  .logo {
    text-align: center;
    display: inline-block;
    height: 100%;

    img {
      margin-bottom: 15px;
    }
  }

  h2, h3 {
    display: inline-block;
    margin: 0;
  }

  form {
    float: right;
    height: 40px;

    button {
      height: 40px;
      margin: 0;
      border-radius: 0;
      line-height: normal;
      vertical-align: text-bottom;
    }
  }
}