.leftbar {
  display: inline-block;
  height: calc(100vh - 50px);
  width: 200px;
  margin-top: 50px;
  overflow-y: scroll;
  background-color: $darkerblue;
  background: linear-gradient(45deg, $yellow, $red 30%);

  ul {
    li {
      margin: 5px;
      padding: 10px;
      color: $white;
    }
  }
}